body{
  margin: 0;
  padding: 0;
  width: 100%;
}

.text{
  font-size: 1em;
}

.object{
  text-align: center;
}

.rectangle{
 background-color: blue;
  width: 550px;
  height: 190px;
  margin-left:35%;
}
